<ion-view ng-controller="advSearchCtrl">
    <ion-nav-title class="title title-center">
        <div id="logoHeader">
            <img src='img/apsa.png' alt=''/>
        </div>
    </ion-nav-title>
    <div class="bar bar-subheader bar-stable resultsSubheader padding">
        <div class="left">
            <h1>{{ searchResult.number }} im&oacute;veis para {{ active }}</h1>
            <h2>{{ imovel.tipo }}, {{ maximo.valor }}, {{ activeRoom }}, {{ activeVaga }}, {{ maxima.area }}</h2>
        </div>
        <button class="button button-icon right button-clear ion-ios-film-outline button-positive"></button>
    </div>
    <ion-content class="has-header has-footer" ng-controller="searchResultsCtrl">
        <div class="map-markers">

        </div>
        <div class="map-property-selected" ng-hide="propertySelected">
            <div id="mapResultItem" class="bar bar-header bar-calm has-header">
                <h2 class="title title-left">Apartamento Padr&atilde;o</h2>
                <button class="button button-icon button-clear iconv ion-android-close" ng-click="closeProperty()"></button>
            </div>
            <div class="property-image" style="background-image: url({{ mapProperty.image }});"></div>
            <div class="property-summary">
                <h3>{{ mapProperty.title }}</h3>
                <p class="specs">{{ mapProperty.specs.rooms}}, {{ mapProperty.specs.spots }}, {{ mapProperty.specs.area }}&sup2;</p>
                <button class="button button-energized">Aluguel: R${{ mapProperty.price }}</button>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
        <div class="buttons">
            <button id="listView" class="button button-icon button-clear ion-ios-list-outline"></button>
            <button id="gridView" class="button button-icon button-clear ion-ios-grid-view-outline"></button>
        </div>
        <button class="button button-icon button-clear ion-map pull-right button-energized"></button>
    </ion-footer-bar>
</ion-view>