<ion-view ng-controller="realtySavedCtrl">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button class="button-clear">
            <i class="button button-icon icon ion-android-arrow-back"></i>
        </ion-nav-back-button>
        <ion-nav-title class="title-left">
            <h1 class="title">Im&oacute;veis salvos</h1>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <div id="searchResult" class="list">

            
            <div id="listResult" class="item item-row" ng-repeat="savedProp in savedProps">
                <div class="property-image" style="background-image:url('{{savedProp.photos[0].URLArquivo}}')">
                    <label class="checkbox checkbox-star active">
                        <input type="checkbox" ng-model="true" ng-click="unfav({{$index}})" />
                    </label>
                </div>
                <div class="property-summary">
                    <div>
                        <div>
                            <h3>{{ savedProp.title }}</h3>
                        </div>
                    </div>
                    <p class="specs">{{ savedProp.dorms}} qts, {{ savedProp.spots }} vagas, {{ savedProp.area }} m&sup2;</p>
                    <button class="button button-energized" ng-click="goDetails({{savedProp.code}})">Aluguel: R${{ savedProp.price }}</button>
                    <p class="distance">Distancia {{ savedProp.distance }}&sup2;</p>
                </div>
            </div>


        </div>
    </ion-content>
</ion-view>