<ion-view ng-controller="SearchSavedCtrl">
    <ion-nav-bar class="bar-positive" align-title="left">
        <ion-nav-back-button class="button-clear">
            <i class="button button-icon icon ion-android-arrow-back"></i>
        </ion-nav-back-button>
        <ion-nav-title>
            <h1 class="title title-left">Buscas salvas</h1>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <div id="searchResult" class="list">
            <div id="" class="item item-row savedSearch" ng-repeat="savedSearch in savedSearches" ng-click="">
                    <i class="button icon-left left button-clear ion-ios-film-outline button-energized bigIcon"></i>
                <div class="left savedSearchData">
                    <h2>BUSCAR POR {{ savedSearch.CodigoImovel === undefined ? savedSearch.TipoImovelDescricao : "Código : " + savedSearch.CodigoImovel }}</h2>
                    <p class="specs">
                        FILTROS:
                        {{ savedSearch.Full === undefined ? "" : savedSearch.Full + "," }}
                        {{ savedSearch.Cidade === undefined ? "" : savedSearch.Cidade + "," }}
                        {{ savedSearch.UF === undefined ? "" : savedSearch.UF + "," }}
                        {{ savedSearch.price === undefined ? "" : "R$" + savedSearch.price + ","}}
                        {{ savedSearch.rooms === undefined ? "" : savedSearch.rooms + " qto(s),"}}
                        {{ savedSearch.spots === undefined ? "" : savedSearch.spots + " vaga(s)," }}
                        {{ savedSearch.area === undefined ? "" : savedSearch.area + " m&sup2"}}
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>