<ion-view ng-controller="LoginCtrl">
    <ion-nav-bar class="bar-positive" align-title="left">
        <ion-nav-back-button class="button-clear">
            <i class="button button-icon icon ion-android-arrow-back"></i>
        </ion-nav-back-button>
        <ion-nav-title>
            <h1 class="title title-left">Login</h1>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="has-header padding">
        <h2 class="txtCenter txtDefault titleMedium paddingLarge">
            Lorem ipsum dolor sit amet, consectetur adipiscing elioth lorem acespoi.
        </h2>
        <h3 class="inputsLabel">IDENTIFICA&Ccedil;&Atilde;O</h3>
        <label class="inputsGrey">
            <input type="text" placeholder="Digite sua identificação"/>
        </label>
        <h3 class="inputsLabel">SENHA</h3>
        <label class="inputsGrey">
            <input type="password" placeholder="Digite sua senha"/>
        </label>
        <label class="checkbox checkboxOrangeDot">
            <input type="checkbox"/><span>Manter-me conectado</span>
        </label>
        <button class="button button-block button-energized" ng-click="loginUser()">Entrar</button>
        <a ng-click="goPswdRec()" class="linkDefault linkCenter"  ui-sref="app.homepage">Esqueci a senha</a>
    </ion-content>
</ion-view>