<ion-view ng-controller="realtyCtrl">
    <ion-nav-bar class="bar-positive" align-title="left">
        <ion-nav-back-button class="button-clear">
            <i class="button button-icon icon ion-android-arrow-back"></i>
        </ion-nav-back-button>
        <ion-nav-title>
            <h1 class="title title-left" id="titleBold">R${{ realty.price }}</h1>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button id="telephoneButton" class="button button-icon icon ion-ios-telephone-outline"
                    ng-click="telephoneModal()"></button>
            <button class="button button-icon icon ion-ios-email-outline" ng-click="sendMail()"></button>
            <button class="button button-icon icon ion-android-share-alt" ng-click="shareIconsModal()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        
        <ion-slide-box pager-click="navSlide(index)" auto-play="false" does-continue="true">
            <ion-slide ng-repeat="photo in realty.photos">
                 <img style="width: 100%;background-image: url('{{photo.URLArquivo}}');" src="img/blankBig.png" alt="" ng-click="goFullSlider()"/>
            </ion-slide>
        </ion-slide-box>

        

        <div class="bar bar-calm">
            <h2 class="title title-left">{{ realty.realtyType }}</h2>
            <label class="checkbox checkbox-star right" ng-click="favoriteRealtyID(isFavorited)">
                <input type="checkbox" ng-model="isFavorited" />
            </label>
        </div>
        <div class="mainAttr">
            <h3>{{ realty.title }}</h3>
            <p>{{ realty.address }}</p>
            <div class="mainAttrItems">
                <ul>
                    <li><span>{{ realty.dorms }}</span><br/>Dorms</li>
                    <li><span>{{ realty.suites }}</span><br/>Su&iacute;te(s)</li>
                    <li><span>{{ realty.spots }}</span><br/>Vaga(s)</li>
                    <li><span>{{ realty.area }}</span><br/>Metros&sup2;</li>
                </ul>
            </div>
        </div>
        <div id="detailedAttr" class="detailedAttr" ng-class="!data.tall?'':'openedDetail'">
            <p class="propertyText">Valor: <span class="detailedAttrValue">R$ {{realty.price }}</span></p>
            <p class="propertyText">Condom&iacute;nio: <span class="detailedAttrValue">{{ realty.cond }}</span></p>
            <p class="propertyText">C&oacute;digo: <span class="detailedAttrValue">{{ realty.code }}</span></p>
            <div ng-repeat="feature in realty.features">
                <p class="propertyText">{{feature.Descricao}}: <span class="detailedAttrValue">{{ feature.Conteudo }}</span></p>
            </div>

        </div>
        <button class="button button-block button-light viewRetractButton" ng-click="data.tall=!data.tall;viewRetractDetails()">
            Mais detalhes   
        </button>
        <div class="bar bar-calm">
            <h2 class="title title-left">Localiza&ccedil;&atilde;o</h2>
        </div>

        <div id="propertyMap">
        </div>

        <div id="propertyMapInfo">
            <p class="propertyText">Dist&acirc;ncia do im&oacute;vel:
                <span class="detailedAttrValue">{{ realty.distance }}</span></p>
            <button class="button button-light right" ng-click="calculateAndDisplayRoute()">Tra&ccedil;ar rota</button>
        </div>
        <button class="button button-block button-energized" ng-click="sendMail()">Enviar mensagem</button>
    </ion-content>
</ion-view>